<h1>Debian images: installer images, live images, cloud images</h1>

<p><strong>Last updated: </strong>11th January 2025</p>

<h2>Multiple things here</h2>

<ul>
  <li>Latest stable Debian release: Bookworm (currently version <strong>12.9.0</strong>)
  <ul>
    <li><a href="release/current/">Installer images</a> for all architectures (individual small CDs up to full sets of DVDs and BDs)
    <li><a href="release/current-live/">Live images</a> for amd64
    <li><a href="cloud/">Cloud images</a> for multiple environments
  </ul>
<li>Alpha/Release Candidate builds of Debian images for Trixie
  <ul>
    <li><a href="trixie_di_alpha1/">Alpha 1</a> is the most recent set of installer images (for all architectures)
  </ul>
  <li>Regular builds of testing / (what will be Trixie)
  <ul>
    <li><a href="daily-builds/">Daily builds of installer images</a> for all architectures (small CDs only)
    <li><a href="weekly-builds/">Weekly builds of installer images</a> for all architectures (some CDs, full sets of DVDs and BDs)
    <li><a href="weekly-live-builds/">Weekly builds of live images</a> for amd64
  </ul>
  <li>Older builds</li>
  <ul>
    <li>We keep copies of lots of the older releases in the <a href="archive/">archive</a> directory
  </ul>
  <li>Misc and "unofficial" stuff
  <ul>
    <li><a href="cd-sources/">cd-sources</a> contains packages and matching sources for various things used to make the CDs
    <li><a href="snapshot/">snapshot</a> and <a href="snapshot-amd64/">snapshot-amd64</a> contain snapshot copies of the Debian archive, used by jigdo
    <li><a href="ports/">ports</a> contains installer images for the non-release "ports" architectures
    <li><a href="unofficial/">unofficial</a> contains a mix of things:
    <ul>
      <li>Kenshi Muto's backport CD images
      <li>experimental / test images
      <li>custom images (e.g. created for magazine cover discs)
      <li>some non-free bits such as CDs including non-free firmware
    </ul>
  </ul>
</ul>

<p>All the installer images are distributed as ISO
and <a href="https://www.debian.org/CD/jigdo-cd/">jigdo</a>
files. Please use jigdo if you can, as it significantly reduces the
load on our servers and it may greatly speed up your download too. The
official release images are also normally available via
bittorrent.</p>

<h2>Problems?</h2>

<p>If you encounter any problems with these images, please check the
<a href="https://www.debian.org/CD/faq/">Debian CDs FAQ</a>. The most
common complaint at the moment is about wrongly-sized or corrupt DVD
ISO images, which is normally a <a
href="https://www.debian.org/CD/faq/#small-dvd">bug in your http
download program.</a></p>

<p>If your problem is not covered by the above FAQ, please:</p>

<ol>
<li>First check to see if other people have already reported it in the
mailing list archive
at <a href="https://lists.debian.org/debian-cd/">https://lists.debian.org/debian-cd/</a>
<li>If not, report it to the debian-cd@lists.debian.org mailing list.
</ol>

<h2>Who are we?</h2>

<p>The Debian Images Team is a small team of people working on
creating, testing and distributing Debian images for you. For more
information about the team and how it all works, see
the <a href="https://wiki.debian.org/Teams/DebianCd">Debian wiki
page</a> about us.
