/* Those are really for release_process.rst, but could affect other pages. */

.release {
  margin-top: 10px;
  padding: 2px 5px 2px 5px;
  border: 1px solid black;
  display: inline-block;
  font-weight: bold;
}

.machine-casulana {
  display: inline-block;
  padding: 2px 5px 2px 5px;
  color: white;
  background: linear-gradient(to left, white 0%, green 1em, darkgreen 3em);
}

.machine-casulana::after {
  content: "   ";
}

.machine-pettersson {
  display: inline-block;
  padding: 2px 5px 2px 5px;
  color: white;
  background: linear-gradient(to left, white 0%, red 1em, darkred 3em);
}

.machine-pettersson::after {
  content: "   ";
}

.machine-jigdo {
  display: inline-block;
  padding: 2px 5px 2px 5px;
  color: white;
  background: linear-gradient(to left, white 0%, magenta 1em, darkmagenta 3em);
}

.machine-jigdo::after {
  content: "   ";
}

.machine-other {
  display: inline-block;
  padding: 2px 5px 2px 5px;
  color: white;
  background: linear-gradient(to left, white 0%, grey 1em, black 3em);
}

.machine-other::after {
  content: "   ";
}
