<h1>Daily build #BUILDNUM for ARCH, using the daily installer build</h1>

<p>These images will install the testing version of Debian, currently
<strong>CODENAME</strong>. They include non-free firmware to make
installation easier on some systems requiring proprietary but
redistributable
firmware. See <a href="https://wiki.debian.org/Firmware">https://wiki.debian.org/Firmware</a>
for more details. </p>

<p>See the <a href="/cdimage/daily-builds/">top-level daily
directory</a> for more information about the daily builds.</p>

<p>This build finished at <strong>DATE</strong>.</p>
